[project]
	description = Shell script to replace tokens
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shyam (shyamindra)
[access "refs/for/refs/*"]
	read = group user/Shyam (shyamindra)
	push = group user/Shyam (shyamindra)
	label-Code-Review = -2..+2 group user/Shyam (shyamindra)
	label-Verified = -1..+1 group user/Shyam (shyamindra)
	rebase = group user/Shyam (shyamindra)
	removeReviewer = group user/Shyam (shyamindra)
	submit = group user/Shyam (shyamindra)
[access "refs/heads/*"]
	read = group user/Shyam (shyamindra)
	create = group user/Shyam (shyamindra)
	push = +force group user/Shyam (shyamindra)
	pushMerge = group user/Shyam (shyamindra)
[access "refs/tags/*"]
	push = group user/Shyam (shyamindra)
	push = +force group user/Shyam (shyamindra)
